
<!--section class="home-slider owl-carousel" >
    <div class="slider-item" style="background-image: url('assets/images/agua.jpg');">
      
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate">
            <h1>Distribuidora Matute</h1>
            <p class="mb-5">Somos proveedores de todo tipo de productos de consumo masivo y contamos con nuestra propia marca YAKU.</p>
            <p><a onclick="javascript:introJs().setOptions({ 'skipLabel': 'Saltar', 'nextLabel': 'Siguiente', 'prevLabel': 'Anterior', 'doneLabel': 'Finalizar'}).start();" class="btn btn-large btn-primary" href='javascript:void(0);' class="btn btn-white btn-outline-white">Empecemos</a></p>
          </div>
        </div>
      </div>
    </div>

  <div class="slider-item" style="background-image: url('assets/images/fondo.jpg');">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate">
            <h1>YAKU</h1>
            <p class="mb-5">YAKU es una marca 100% ecuatoriana que ofrece productos para satisfacer las necesidades de nuestros consumidores. Mantenemos un proceso de filtración y purificación del agua para asegurar tu bienestar.</p>
            <p><a onclick="javascript:introJs().setOptions({ 'skipLabel': 'Saltar', 'nextLabel': 'Siguiente', 'prevLabel': 'Anterior', 'doneLabel': 'Finalizar'}).start();" class="btn btn-large btn-primary" href='javascript:void(0);' class="btn btn-white btn-outline-white">Empecemos</a></p>
          </div>
        </div>
      </div>
      
    </div>

  </section>


  <section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center heading-wrap">
            <h2>Nuestros Productos</h2>
            
          </div>
        </div>
      </div>
    </div>
      <div class="container">
        <div class="row">
          <div class="major-caousel js-carousel-1 owl-carousel" data-position="bottom" data-intro="Entre nuestros productos estrellas contamos con Yaku, agua purificada, producto 100% ecuatoriano, con los mejores estándares de calidad." data-step="5">

              <a href="agua.html" class="item-class">
                  <div class="text">
                  <p class="class-price">$1.50</p>
                  <h2 class="class-heading">Galones de agua YAKU de 4 litros</h2>
                </div>
                <img src="assets/images/g.jpg" width="150" height="150" alt="" class="img-fluid">
              </a>
              <a href="agua.html" class="item-class">
                <div class="text">
                  <p class="class-price">$1.50</p>
                  <h2 class="class-heading">Galones de agua YAKU de 4 litros</h2>
                </div>
                <img src="assets/images/g.jpg" width="150" height="150" alt="" class="img-fluid">
              </a>
              <a href="agua.html" class="item-class">
                <div class="text">
                  <p class="class-price">$0.95</p>
                  <h2 class="class-heading">Botella de agua de 500cc</h2>
                </div>
                <img src="assets/images/a.jpg" width="150" height="150" alt="" class="img-fluid">
              </a>
            
        </div>
        < END slider >
        </div>
      </div>
  </section--> 

  <!--section class="section element-animate">
      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Eventos</h2>
            </div>
          </div>
        </div>
      </div>
      <div class=" eventos container text-center">
          <div class="w3-content" style="max-width:1000px">
            <div class="w3-row-padding w3-section">
              <div class="w3-col s9">
                   <div class="w3-row-padding w3-section">
                      <img class="mySlides" src="assets/images/evento1.jpg" style="width:80%;display:none">
                          <img class="mySlides" src="assets/images/evento2.jpg" style="width:100%">
                      <img class="mySlides" src="assets/images/evento3.jpg" style="width:100%;display:none">
                  </div>
                  
              </div>
              <div class="w3-col s3">
                  <div class="w3-row-padding w3-section">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="assets/images/evento1.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
                  </div>
                  <div class="w3-row-padding w3-section">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="assets/images/evento2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
                  </div>
                  <div class="w3-row-padding w3-section">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="assets/images/evento3.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
                  </div>
              </div>
          </div>
      </div>
  </div-->
 
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/agua.jpg" class="d-block w-100" >
      </div>
      <div class="carousel-item">
        <img src="assets/images/fondo.jpg" class="d-block w-100" >
      </div>
     
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <p></p>

  <div class="clearfix mb-5 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center heading-wrap">
          <h2>Productos</h2>
          
        </div>
      </div>
    </div>
  </div>	

<div class="productos container text-center">
  <div class="row">
      <div class="col-md-4">
          <div class="productos">
                  <img src="assets/images/g.jpg" height="300"width="300">
                  <figcaption>Galones de agua YAKU de 4 litros</figcaption>
                  <figcaption class="class-price">$1.50</figcaption>
                
           
          </div>
      </div>
      <div class="col-md-4">
          <div class="productos">
     
                  <img src="assets/images/g.jpg" height="300"width="300">
                  <figcaption>Galones de agua YAKU de 4 litros</figcaption>
                  <figcaption class="class-price">$1.50</figcaption>
              
          </div>
      </div>
      <div class="col-md-4">
          <div class="productos">
          
                  <img src="assets/images/a.jpg" height="300"width="300">
                  <figcaption>Botella de agua de 500cc</figcaption>
                  <figcaption class="class-price">$0.50</figcaption>
             
          </div>
      </div>
  </div>

<p></p>
  <div class="clearfix mb-5 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center heading-wrap">
          <h2>Eventos</h2>
          
        </div>
      </div>
    </div>
  </div>	

<div class="eventos container text-center">
  <div class="row">
      <div class="col-sm-4">
          <div class="eventos">
                  <img src="assets/images/evento1.jpg" width="300" height="300">
            
          </div>
      </div>
      <div class="col-sm-4">
          <div class="eventos">
                  <img src="assets/images/evento2.jpg" width="300" height="300">
             
          </div>
      </div>
      <div class="col-sm-4">
          <div class="eventos" >
                  <img src="assets/images/evento1.jpg" width="300" height="300">
           
          </div>
      </div>
      
  </div>
</div>
<p></p>
      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Noticias</h2>
              
            </div>
          </div>
        </div>
      </div>	

  <div class="noticias container text-center">
      <div class="row">
          <div class="col-md-3">
              <div class="noticia">
                  <a href="https://elpais.com/elpais/2017/03/21/album/1490089567_299118.html">
                      <img src="assets/images/noticia1.jpg">
                      <figcaption>Día Mundial del agua 2017</figcaption>
                  </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="noticia">
                  <a href="https://elpais.com/elpais/2017/03/22/mamas_papas/1490171257_569803.html">
                      <img src="assets/images/noticia2.jpg">
                      <figcaption>La familia, clave en el uso responsable del agua</figcaption>
                  </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="noticia">
                  <a href="https://www.vidaysalud.com/cuanta-agua-debo-tomar-al-dia/">
                      <img src="assets/images/noticia3.jpg">
                      <figcaption>¿Cuánta agua debes tomar al día?</figcaption>
                  </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="noticia">
                  <a href="https://salud.uncomo.com/articulo/cuales-son-los-beneficios-de-beber-agua-2630.html">
                      <img src="assets/images/noticia4.jpg">
                      <figcaption>Cuáles son los beneficios de beber agua</figcaption>
                  </a>
              </div>
          </div>
      </div>
  </div>


