<div class="slider-item" style="background-color: blue;background-image: linear-gradient(to right, rgb(56, 61, 141) , rgb(40, 10, 109)); max-width:100%;height:300px;" >
  </div>
   <p><br>
  </p>

   <div class="clearfix mb-5 pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center heading-wrap">
            <a name="contactenos"></a>
            <h2>CONTÁCTENOS</h2>
            <span class="back-text3">CONTÁCTENOS</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <form action="#" method="post">
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="name">Nombre</label>
                <input type="text" id="name" class="form-control ">
              </div>
              <div class="col-md-6 form-group">
                <label for="phone">Teléfono</label>
                <input type="text" id="phone" class="form-control ">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Seleccione su ciudad
                        <span class="caret"></span></button>
                    <ul class="combo_provincias dropdown-menu">					
                    </ul>
                </div>
              </div>
               <div class="col-md-6 form-group text-center">
                  <input type="text" id="provincia_seleccionada"class="form-control" value="Provincia de origen"> </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control ">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="fecha">Fecha nacimiento</label>
                <input type="date" class="form-control" id ="fecha_contacto" name="fecha_contacto">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="message">Escriba un mensaje para nosotros</label>
                <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="submit" value="Enviar Mensaje" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
        
        <div class="col-lg-6 pl-2 pl-lg-5">

          <div class="col-md-8 mx-auto contact-form-contact-info">
            <h4 class="mb-5">Detalles del contacto</h4>
              <p class="d-flex">
                <a class="ion-ios-location icon mr-5" href="#mapa"></a>
                <span>Nicasio Safadi mz j3 villa 20.</span>
              </p>

              <p class="d-flex">
                <span class="ion-ios-telephone icon mr-5"></span>
                <span>0986941859</span>
              </p>

              <p class="d-flex">
                <span class="ion-android-mail icon mr-5" href="#contactenos"></span>
                <span>info@distribuidoramatute.com</span>
              </p>
            </div>

        </div>
      </div>
        <div class="row">
            <div class="col-md-12 text-center">

          <div class="clearfix mb-5 pb-5">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12 text-center heading-wrap">
                    <a name="mapa"></a>
                          <h2>UBICACIÓN</h2>
                          <span class="back-text3">UBICACIÓN</span>
                      </div>
                  </div>
              </div>
          </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d683.4184142594249!2d-79.88372810185487!3d-2.173002502973075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6dc8e97d96e9%3A0x6d5b903be5b6ea96!2sNicasio+Safadi%2C+Guayaquil+090514!5e0!3m2!1ses-419!2sec!4v1562890146205!5m2!1ses-419!2sec" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="leyenda_mapa">

      <p>Estamos ubicados en Nicasio Safadi Manzana j3,villa 20.</p>
      <p> No dudes en <a href="#contactenos">contactarnos. </a>,<p> ¡Estamos para servirte!</p>
    </div>  

            </div>
    </div>
  </div>

