<footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        
        <div class="col-md-5 mb-5" data-position="top" data-intro="En esta sección contamos con los datos de la distribuidora." data-step="6">
          <h3>Información de contacto</h3>
          <ul class="list-unstyled footer-link">
            <li class="d-block">
              <a href="contact.html#mapa" class=" d-block">Dirección:</a>
              <span class="text-white">Nicasio Safadi Manzana j3,villa 20</span></li>
            <li class="d-block"><span class="d-block">Teléfono:</span><span class="text-white">0986941859</span></li>
            <li class="d-block"><span class="d-block">Email:</span><span class="text-white">DistribuidoraMatute@hotmail.com</span></li>
          </ul>
        </div>


        <div class="col-md-3 mb-5">
          <h3></h3>
          <ul class="list-unstyled footer-link">
            <li><a href="about.html">Nosotros</a></li>
           
            <li><a href="contact.html">Contáctenos</a></li>
          </ul>
        </div>
       <div class="col-md-4 mb-5">
          
          <ul class="list-unstyled footer-link d-flex footer-social" data-position="top" data-intro="Siguenos en nuestras redes sociales." data-step="7">
            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>

        </div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
        <p>&copy;
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>
            document.write(new Date().getFullYear());
            </script> All rights reserved
        </p>
        </div>
      </div>
    </div>
  </footer>